<ion-header *ngIf="items">
  <ion-navbar color="elements">
    <ion-title>
      Eventos de hoy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="items" padding>
  <ion-list>
    <a ion-item (click)="showPostForm(event.match_id)" *ngFor="let event of items;">
      <ion-avatar item-start>
        <ion-icon name="football" item-start large class="custom-ball-icon"></ion-icon>
      </ion-avatar>
      <h2>{{ event.country_name }} > {{ event.league_name }}</h2>
      <h3>{{ event.match_time }}</h3>
      <p>{{ event.match_hometeam_name }} - {{ event.match_awayteam_name }}</p>
    </a>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando eventos..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>
  
</ion-content>
