<ion-header *ngIf="events">
  <ion-navbar color="elements">
    <ion-title>
      Eventos de hoy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="events" padding>
  <ion-list>
    <ion-item *ngFor="let event of events;">
      <ion-avatar item-start>
        <ion-icon name="football" item-start large class="custom-ball-icon"></ion-icon>
      </ion-avatar>
      <h2>{{ event.country_name }} > {{ event.league_name }}</h2>
      <h3>{{ event.match_time }}</h3>
      <p>{{ event.match_hometeam_name }} - {{ event.match_awayteam_name }}</p>
    </ion-item>
  </ion-list>
</ion-content>
