<ion-header>
  <ion-navbar color="elements">
    <ion-title>
      Tipsters Premium
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tipster of tipsters;">
      <ion-thumbnail item-start>
        <img src="assets/icon/avatar.png">
      </ion-thumbnail>
      <h2>{{ tipster.Alias }}</h2>
      <p>Desde - {{ tipster.Created_at | date: 'longDate' }}</p>
      <button ion-button clear item-end (click)="follow(tipster.Id)" *ngIf="!isUnfollowed(tipster.Id)">Seguir</button>
      <button ion-button clear item-end (click)="unfollow(tipster.Id)" *ngIf="isUnfollowed(tipster.Id)">Dejar de seguir</button>
    </ion-item>
  </ion-list>
</ion-content>